html,body{
    font-size: 14px;
    width: 100%;
    height:100%;
    margin: 0;
}

p,div,table,th,td,td{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#chant-data{
    width: 1000px;
    height: 666px;
    text-align: center;
    text-align: -webkit-center;
    padding: 30px 40px 60px 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    box-shadow:1px 1px 20px #cccccc;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px !important;
}
#chant-data-image{
    height: 100%;
    width: 50%;
    background: url('./../images/abstract-1264071_1280.png') no-repeat center bottom;
    background-size: 100%;
}
#chant-data-table{
    width: 50%;
    color: #643535;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
}
#chant-data-table .title{
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-top: 60px; 
    padding-left: 16px;
}
#chant-data-table>table{
    width: 100%;
    text-align: center;
}
#chant-data-table tr{
    height: 66px;
    font-size: 14px;
    font-weight: 300;
}
#chant-data-table tr:first-child{
    font-size: 18px !important;
    font-weight: 400 !important;
    width: 60px;
}
#chant-data-table tr td{
    width: 60px;
}
#chant-date-active{
    box-shadow: 1px 1px 20px #d4d3d3;
    border-radius: 50%;
}
#chant-data-table>.cutome{
    width: 100%;
    overflow: hidden;
    text-align: left;
    position: relative;
    top: 40px;
}
#chant-data-table>.cutome img{
    width: 110px;
    z-index: -1;
    position: relative;
    left: -110px;
    box-shadow: 10px 10px 50px 20px pink inset;
    animation: bybike_move 60s;
    animation-iteration-count:infinite;
}

@keyframes bybike_move
{
0%   { left:-110px; }
100% { left:100%; }
}
